<br><span>Add a friend: </span><input type="text" ng-model="friend">
<button type="button" name="button" ng-click="addFriend()">Add Friend!</button>
<br><br><span>The name your adding: {{friend}}</span><br><br>

<table class = "table table-striped">
  <thead>
    <tr>
      <td>Friend</td>
      <td>Option</td>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="friend in friends">
        <td>{{friend.name}}</td>
        <td><button type="button" name="button" ng-click="removeFriend(friend._id)">Remove</button></td>
      </tr>
  </tbody>
</table>